@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

body {
  width: 796px;
  height: auto;
  font: 16px;
}

header{
  width: 796px;
  height: 300px;
  background-image: url(../image/GA.png);
  background-position: center; 
  background-size: cover;
  border: solid 2px #edef9c;
}

h1 {
  text-align: center;
  padding-top: 230px;
  opacity: 0.92;
  font-size: 30px;
  color: #a0c238;
}

.h1_color_1 {
  color: #ffff01;
}

.h1_color_2 {
  color: #201c5b;
}
